body {
  margin: 0;
  background: rgb(0,212,255);
background: linear-gradient(3deg, rgba(0,212,255,0.8743872549019608) 16%, rgba(120,163,235,0.9192051820728291) 65%);
  /* background: linear-gradient(papayawhip, white); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:montserrat ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: montserrat, 
}
